//COLORS
$primary-color-dark: #0854a0;

$secondary-color-light: #ebf0f6;
$secondary-color-lightgrey: #c4c4c4;
$secondary-color-gray: #6a6d70;

$bg-color: #e1e5e6;

$color-light: #f2f7fd;
$color-black: #000000;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$primary-button-color: #0a6ed1;

$primary-color-pill: #10c16b;
$secondary-color-pill: #424242;

$navbarColor : #354a5f;


//FONT
$default-font-size: 14px;

$title-size: 18px;
$title-weight: bold;

$subheading-size: 14px;
$subheading-weight: bold;

$body-size: 18px;
$body-weight: normal;

$number-size: 22px;
$number-weight: bold;

$comment-size: 14px;
$comment-weight: normal;

//STYLES

$shadowBackground: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);