* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.headerContent {
  font-weight: 400;
  font-size: 20px;
}
.headerContainer {
  top: 45%;
  left: 25%;
  transform: translate(-25%, -45%);
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 3em;
}
.headerButtonContainer {
  border-radius: 100px;
  color: white;
  background: transparent;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px 8px 16px;
  border: 1px solid #f5f5f5;
  display: flex;
  margin-top: 36px;
  align-items: center;
}
.commentButtonContainer {
  border-radius: 100px;
  color: black;
  background: transparent;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px 8px 16px;
  border: 1px solid #1e1e1e;
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.commentButtonOuterContainer {
  display: flex;
}

@media only screen and (max-width: 425px) {
  .commentButtonOuterContainer {
    display: flex;
    justify-content: center;
  }
}

input {
  padding: 10px 3px;
  width: 100%;
}

.btn {
  padding: 10px 1rem;
  background: #334;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.backdrop {
  background-color: rgba(43, 43, 43, 0.5);
  z-index: 999;
}

.iconCover {
  width: 200px;
  margin-bottom: 95px;
}

.imageContent {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.infographicContent {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.headerSection {
  font-size: 36px;
  font-weight: 800;
  margin: 24px 0px;
}

.contentText {
  // font-family: "Inter";
  margin: 16px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

.familyInter {
  // font-family: "Inter";
}

.captionImage {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.centerContentFlex {
  display: flex;
  justify-content: center;
}

.audioContainer {
  border: 1px solid black;
  padding: 50px;
  margin: 25px 0px 50px;
  position: relative;
}

.audioImage {
  position: absolute;
  background: white;
  top: 3%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 73px;
  height: 56px;
  z-index: 5;
  border-radius: 30px;
}
.audioImageWhiteSpace {
  position: absolute;
  background: rgb(249, 249, 249);
  top: 3%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 80px;
  height: 80px;
}
